.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: dodgerblue;
    height: 100vw;
    gap: 15px;
}
.grid-1
{
    background-color: aliceblue;
   
}
.grid-2
{
        background-color: red;
}
.grid-3
{
    background-color: black;
}
.grid-4
{
    background-color: rgb(0, 132, 255);
}
.grid-5
{
    background-color: rgb(239, 255, 95);
}

