body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    overflow-y: hidden;
}

a { color: inherit; }

.header {
    background-color: rgb(184, 171, 148);
    border: 10px;
    color: rgb(214, 205, 189);
    border-style: outset;
}

.main {
    background-color: rgb(255, 255, 255);
    border:10px;
    color: rgb(137, 126, 126);
    border-style:dashed;

}

.footer {
    background-color: rgb(165, 62, 62);

}

.inside_mhf{
    margin: 20px;
    align-content: center;
    font-size: xx-large;
    
}

.parent {
    background-color: rgba(40, 75, 87, 1);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    height: 100vh;
    width: 100vw;
}
#FormTitle{
    color: black;
    font-size:50px;
    position: absolute;
    left: 45%;
}

#background{ max-width: 100vw; min-height: 0vh; max-height: 100vh;}
.BackgroundIMG{
  position: absolute;
  top: -100vh;
  opacity: 7%;
  width: 100vw;
  height: 100vh;
  transform: rotate(0deg);
}

#OldButton
{
    width: 500px;
    height: 200px;
    border-radius: 30px;
}
.grids {
  position: absolute;
  z-index: 0;
  opacity: 31%;
}
#halfgrid1 {
    position: absolute;
  width: 42vw;
  top:0vh;
  opacity: 17%;
}
#fullgrid1 {
position: absolute; 
opacity:17%;
  z-index: 0;
  width: 50vw;
  right: 00vw;
  bottom: -10vh;
  height: 790px;
  object-fit: contain;
}

#pokemonSprite{
    margin: 0 0;
    width:30vw
    

}

.div1 {
    grid-area: 2 / 2 / 6 / 5;
}

.div2 {
    grid-area: 2 / 5 / 5 / 10;
}

.div3 {
    grid-area: 5 / 5 / 6 / 8;
}
.div4topright { grid-area: 1 / 8 / 2 / 11; } 
.border_radius30 {
    border-radius: 20px;

}
.dex0{
    position: relative;
    z-index: 0;
}
.dex1{
    position: relative;
    z-index: 1;
}

.dex2{
    position: relative;
    z-index: 2;
}
.dex3{
    position: relative;
    z-index: 3;
}
.align-start{
    position: relative;
    right:100%;
}
.padding10{
    padding:10px;
}
.textsizeXS {
    font-size: 10px;
}
.textsizeM {
    font-size: 20px;
}
.textsizeX {
    font-size: 30px;
}
.textsizeXX {
    font-size: 40px;
    
}
.textcolorBlack{
    color:black;
}
.colorinherit
{
    color: inherit; } 

.opacity30
{
    opacity: 30%;

}

.textunderline
{
    text-decoration: underline;
}